﻿<div class="jumbotron">
    <h1>IIS-DEPLOY-SERVER</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        Milton
    </div>
    <div class="col-md-4">
       Gabriel
    </div>
    <div class="col-md-4">
        Jãozinho
    </div>
</div>
